<div class="card_modal" *ngIf="utilisateur">
  <div class="head">
    <div class="fiftypercent">
      <p><strong>Nom:</strong> {{ utilisateur.nom }}</p>
      <p><strong>Email:</strong> {{ utilisateur.email }}</p>
    </div>
    <div class="fiftypercent">
      <img [src]="'assets/image/' + utilisateur.photo" alt="Avatar" class="photo-utilisateur moreinfos">
    </div>
  </div>

  <h3>Moyenne globale de {{ utilisateur.nom }} : {{ moyenneGlobale }}%</h3>

  <h3>Activités 1:</h3>
    <p class="moyenne">
      Moyenne Globale pour cette activité : {{ moyennePremieresCompetences }}%
      <span class="detail" (click)="toggleDetail('activites1skillz')">
        Voir détails <img [src]="'assets/image/arrow.svg'" alt="arrow" class="arrow" [ngClass]="{'rotate180': showDetail.activites1skillz}">
      </span>
    </p>
    <div id="activites1skillz" class="act" *ngIf="showDetail.activites1skillz">
      <div class="competence" *ngFor="let competence of premieresCompetences">
        <b>{{ competence.nom }}</b> - {{ competence.description }}
        <ng-container *ngFor="let niveau of utilisateur.niveaux_competences">
          <ng-container *ngIf="niveau.competence_id === competence.id">
            <div class="progress-bar">
              <div class="progress" [style.width.%]="niveau.niveau">{{ niveau.niveau }}%</div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

  <h3>Activités 2:</h3>
    <p class="moyenne">
      Moyenne Globale pour cette activité : {{ moyenneSuivantesCompetences }}%
      <span class="detail" (click)="toggleDetail('activites2skillz')">
        Voir détails <img [src]="'assets/image/arrow.svg'" alt="arrow" class="arrow"  [ngClass]="{'rotate180': showDetail.activites2skillz}"></span>
    </p>
    <div id="activites2skillz" class="act" *ngIf="showDetail.activites2skillz">
    <div class="competence" *ngFor="let competence of suivantesCompetences">
      <b>{{ competence.nom }}</b> - {{ competence.description }}
      <ng-container *ngFor="let niveau of utilisateur.niveaux_competences">
        <ng-container *ngIf="niveau.competence_id === competence.id">
          <div class="progress-bar">
            <div class="progress" [style.width.%]="niveau.niveau">{{ niveau.niveau }}%</div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <h3>Activités 3:</h3>
    <p class="moyenne">
      Moyenne Globale pour cette activité : {{ moyenneDernieresCompetences }}%
      <span class="detail" (click)="toggleDetail('activites3skillz')">
        Voir détails <img [src]="'assets/image/arrow.svg'" alt="arrow" class="arrow" [ngClass]="{'rotate180': showDetail.activites3skillz}"></span>
    </p>
    <div id="activites3skillz" class="act" *ngIf="showDetail.activites3skillz">
    <div class="competence" *ngFor="let competence of dernieresCompetences">
      <b>{{ competence.nom }}</b> - {{ competence.description }}
      <ng-container *ngFor="let niveau of utilisateur.niveaux_competences">
        <ng-container *ngIf="niveau.competence_id === competence.id">
          <div class="progress-bar">
            <div class="progress" [style.width.%]="niveau.niveau">{{ niveau.niveau }}%</div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
