<div class="card_modal" *ngIf="utilisateur">
  <h2>Informations de l'utilisateur</h2>
  <img [src]="'assets/image/' + utilisateur.photo" alt="Avatar" class="photo-utilisateur">
  <p><strong>Nom:</strong> {{ utilisateur.nom }}</p>
  <p><strong>Email:</strong> {{ utilisateur.email }}</p>

  <h3>Activités 1:</h3>
  <ul>
    <li *ngFor="let competence of premieresCompetences">
      {{ competence.nom }} - {{ competence.description }}
      <ng-container *ngFor="let niveau of utilisateur.niveaux_competences">
        <ng-container *ngIf="niveau.competence_id === competence.id">
          <div class="progress-bar">
            <div class="progress" [style.width.%]="niveau.niveau">{{ niveau.niveau }}%</div>
          </div>
        </ng-container>
      </ng-container>
    </li>
  </ul>

  <h3>Activités 2:</h3>
  <ul>
    <li *ngFor="let competence of suivantesCompetences">
      {{ competence.nom }} - {{ competence.description }}
      <ng-container *ngFor="let niveau of utilisateur.niveaux_competences">
        <ng-container *ngIf="niveau.competence_id === competence.id">
          <div class="progress-bar">
            <div class="progress" [style.width.%]="niveau.niveau">{{ niveau.niveau }}%</div>
          </div>
        </ng-container>
      </ng-container>
    </li>
  </ul>

  <h3>Activités 3:</h3>
  <ul>
    <li *ngFor="let competence of dernieresCompetences">
      {{ competence.nom }} - {{ competence.description }}
      <ng-container *ngFor="let niveau of utilisateur.niveaux_competences">
        <ng-container *ngIf="niveau.competence_id === competence.id">
          <div class="progress-bar">
            <div class="progress" [style.width.%]="niveau.niveau">{{ niveau.niveau }}%</div>
          </div>
        </ng-container>
      </ng-container>
    </li>
  </ul>
</div>
